.about-section {
  padding-top: 20px;
  width: 70%;
  margin: auto;
  margin-top: 200px;
}
.about-head{
  font-size: 35px;
}
.profile-pic {
  width: 280px;
  height: 40vh;
  /* border-radius: 50%; */
}
.github-logo,
.linkedin-logo {
  margin: 10px;
  color: black;
}
.linkedin-logo:hover,
.github-logo:hover {
  transition: 1.5s;
  transform: rotate(360deg);
}
.summary-text {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 500;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
@media (max-width: 768px) {
  .about-head {
    padding-top: 35px;
    text-align: center;
  }
  .profile-pic {
    margin: auto 0px auto 10px;
    width: 90%;
    height: 35vh;
    border-radius: 50%;
  }
}
